/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2014, 2:50:38 PM
    Author     : miso
*/



div.FKS_images{
    padding: 1em;
    a {


        
        div.FKS_image{


            position:relative; 
            height: 350px;
            background-size: cover;
            background-position-y: 50%;

            .FKS_image_title{
                background-color: __text_alt__;
                position:absolute; 
                bottom:0;
                width: 100%;
                h2{
                    color:__background__ !important;
                    padding: .5em;
                    font-size: 200%;
                }
            }
            &:hover{ 
                .FKS_image_title{
                    background-color: #ff7800;
                }
            }
        }
        img{    
            height: 150px!;
        }

    }
}

