/**
*    Created on : Nov 30, 2014, 2:50:38 PM
*   Author     : Michal Červeňák <miso@fykos.cz>
*/


@media  (max-width:419px){
    .FKS_image_show{
        &.w_tera,&.w_giga,&.w_mega,&.w_kilo,&.w_normal,&.w_mili,&.w_mikro,&.w_nano,&.w_piko{
            width:100%;
            .images{
                height: 300px;
                h2{
                    font-size: 200%;
                }
            }
        }
    }
}
@media  (min-width:420px)and(max-width:599px){
    .FKS_image_show{
        &.w_tera,&.w_giga,&.w_mega,&.w_kilo{
            width:100%;
            .images{
                height: 300px;
                h2{
                    font-size: 200%;
                }
            }
        }        
        &.w_normal,&.w_mili,&.w_mikro,&.w_nano,&.w_piko{
            width:50%;
            .images{
                height: 150px;
                h2{
                    font-size: 150%;
                }
            }
        }
    }
}
@media (min-width:600px){
    .FKS_image_show{
        &.w_tera{
            width:100%;            
        }
        &.w_giga{
            width:80%;            
        }
        &.w_mega{
            width:66.66666%;           
        }
        &.w_kilo{
            width:60%;            
        }
        &.w_normal{
            width:50%;            
        }
        &.w_mili{
            width:40%;            
        }
        &.w_mikro{
            width:33.3333333%;            
        }
        &.w_nano{
            width:25%;
        }
        &.w_piko{
            width:20%;           
        }
    }
}
@media (min-width:600px){
    .FKS_image_show{
        &.h_tera .images{
            height: 600px;
            h2{
                font-size: 200%;
            }
        }
        &.h_giga .images{
            height: 480px;
            h2{
                font-size: 180%;
            }
        }
        &.h_mega .images{
            height: 400px;
            h2{
                font-size: 166%;
            }
        }
        &.h_kilo .images{
            height: 360px;
            h2{
                font-size: 160%;
            }
        }
        &.h_normal .images{
            height: 300px;
            h2{
                font-size: 150%;
            }
        }
        &.h_mili .images{
            height: 240px;
            h2{
                font-size: 140%;
            }
        }
        &.h_mikro .images{
            height: 200px;  
            h2{
                font-size: 133%;
            }
        }
        &.h_nano .images{
            height: 150px; 
            h2{
                font-size: 125%;
            }
        }
        &.h_piko .images{
            height: 120px; 
            h2{
                font-size: 120%;
            }
        }
    }
}
.FKS_image_show{
    padding:0;
    &.left{
        float:left;
    }
    &.right{
        float:right;
    }
    &.center{
        margin-left: auto;
        margin-right: auto;
    }
    .image_show{
        padding:0.5em;
        overflow:hidden;
        .images{
            margin-top: -1em;
            position:relative;
            .image{
                background-size: cover;
                background-position-y:50%;
                height: 100%;
                width: 100%;
            }
            .title{    
                background-image: linear-gradient(fade(@ini_text_alt,50%), fade(@ini_text_alt,100%) );                
                position:absolute; 
                bottom:0;
                width: 100%;
                h2{
                    p{
                        margin-bottom: 1em;
                        margin-top: 1em;
                        text-align: center;
                    }
                    color:__background__ !important;
                    //margin-top:.5em;
                    margin:0px;
                    padding-left: .5em;
                    padding-right: .5em;
                }
                
                
            }
            &:hover{ 
                .title{
                    background-image: linear-gradient(fade(darken(@ini_text_alt,10%),50%), fade(darken(@ini_text_alt,10%),100%) );
                }
            }
        }
    }
}
